{% extends "registration/base.html" %}
{% load i18n static widget_tweaks %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock %}
{% block content %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}{{ form.new_password1.errors }}{{ form.new_password2.errors }}</div>{% endif %}
            <label class="form-label" for="password1-input-group">{{ form.new_password1.label }}</label>
            <div class="input-group mb-3 fade-in">
                <span class="input-group-text text-body-secondary"><i class="icon-lock" aria-hidden="true"></i></span>
                {% render_field form.new_password1 name='new_password1' class+='form-control' id='password1-input-group' %}
            </div>
            <label class="form-label" for="password2-input-group">{{ form.new_password2.label }}</label>
            <div class="input-group mb-3 fade-in">
                <span class="input-group-text text-body-secondary"><i class="icon-lock" aria-hidden="true"></i></span>
                {% render_field form.new_password2 name='new_password2' class+='form-control' id='password2-input-group' %}
            </div>
            <button class="btn btn-primary w-100 fade-in"
                    type="submit"
                    name="reset">{% trans "Reset Password" %}</button>
        </form>
    {% else %}
        <p class="alert alert-warning">{% trans "This reset link is invalid or has expired." %}</p>
        <a class="btn btn-primary" href="{% url 'babybuddy:password_reset' %}">{% trans "Request a new link" %}</a>
    {% endif %}
{% endblock %}
