{% load widget_tweaks %}
{% if field|field_type == "booleanfield" %}
    {% if field.errors %}
        {{ field|add_class:"btn-check d-none is-invalid" }}
    {% else %}
        {{ field|add_class:"btn-check d-none" }}
    {% endif %}
    <label for="{{ field.id_for_label }}"
           class="btn btn-outline-secondary btn-no-hover">{{ field.label }}</label>
{% elif field|widget_type == "checkboxselectmultiple" %}
    <div class="preference-choices">
        {% for checkbox in field %}
            <label class="preference-choice" for="{{ checkbox.id_for_label }}">
                {{ checkbox.tag }}
                <span>{{ checkbox.choice_label }}</span>
            </label>
        {% endfor %}
    </div>
{% elif "choice" in field|field_type %}
    {% if field.errors %}
        {{ field|add_class:"form-select is-invalid" }}
    {% else %}
        {{ field|add_class:"form-select" }}
    {% endif %}
{% elif field|field_type == "floatfield" %}
    {% if field.errors %}
        {{ field|add_class:"form-control is-invalid"|attr:"inputmode:decimal" }}
    {% else %}
        {{ field|add_class:"form-control"|attr:"inputmode:decimal" }}
    {% endif %}
{% else %}
    {% if field.errors %}
        {{ field|add_class:"form-control is-invalid" }}
    {% else %}
        {{ field|add_class:"form-control" }}
    {% endif %}
{% endif %}
{% if field.help_text and not form.hide_field_help %}
    <div class="help-block">
        <small>{{ field.help_text }}</small>
    </div>
{% endif %}
{% if field.errors %}
    <div class="invalid-feedback">{% for error in field.errors %}{{ error }}{% endfor %}</div>
{% endif %}
