{% extends "babybuddy/page.html" %}
{% load datetime duration misc i18n widget_tweaks %}
{% block title %}
    {% trans "Feedings" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Feedings" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Feedings" %}
        {% if perms.core.add_feeding %}
            <a href="{% url 'core:feeding-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-feeding" aria-hidden="true"></i> {% trans "Add Feeding" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/feeding_list.html" %}
{% endblock %}
