{% extends "babybuddy/page.html" %}
{% load datetime duration i18n widget_tweaks %}
{% block title %}
    {% trans "Foods" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Foods" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Foods" %}
        {% if perms.core.add_food %}
            <a href="{% url 'core:food-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-feeding" aria-hidden="true"></i> {% trans "Add Food" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/food_list.html" %}
{% endblock %}
