{% extends "babybuddy/page.html" %}
{% load i18n %}
{% block title %}
    {% if request.resolver_match.url_name == "food-update" %}
        {% trans "Update Food" %}
    {% else %}
        {% trans "Add Food" %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:food-list' %}">{% trans "Foods" %}</a>
    </li>
    {% if object %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add" %}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if object %}
        <h1>
            {% trans "Update" %} <span class="text-info">{{ object }}</span>
        </h1>
    {% else %}
        <h1>{% trans "Add Food" %}</h1>
    {% endif %}
    {% if object.feeding_id and perms.core.change_feeding %}
        <p class="text-center"><a href="{% url 'core:feeding-update' object.feeding_id %}">{% trans "Edit meal date, time, or child" %}</a></p>
    {% endif %}
    {% include "babybuddy/form.html" %}
{% endblock %}
