{% extends "babybuddy/page.html" %}
{% load i18n widget_tweaks %}
{% block title %}
    {% trans "Head Circumference" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Head Circumference" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Head Circumference" %}
        {% if perms.core.add_headcircumference %}
            <a href="{% url 'core:head-circumference-add' %}"
               class="btn btn-sm btn-primary">
                <i class="icon-head-circumference" aria-hidden="true"></i> {% trans "Add Head Circumference" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/head_circumference_list.html" %}
{% endblock %}
