{% extends "babybuddy/page.html" %}
{% load datetime i18n widget_tweaks %}
{% block title %}
    {% trans "Medication" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Medication" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Medication" %}
        {% if perms.core.add_medication %}
            <a href="{% url 'core:medication-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-medication" aria-hidden="true"></i> {% trans "Add Medication" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/medication_list.html" %}
{% endblock %}
