{% extends "babybuddy/page.html" %}
{% load datetime i18n imagekit widget_tweaks %}
{% block title %}
    {% trans "Notes" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Notes" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Notes" %}
        {% if perms.core.add_note %}
            <a href="{% url 'core:note-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-note" aria-hidden="true"></i> {% trans "Add Note" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/note_list.html" %}
{% endblock %}
