{% extends "babybuddy/page.html" %}
{% load datetime duration misc i18n widget_tweaks %}
{% block title %}
    {% trans "Pumping" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Pumping" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Pumping" %}
        {% if perms.core.add_pumping %}
            <a href="{% url 'core:pumping-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-pumping" aria-hidden="true"></i> {% trans "Add Pumping Entry" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/pumping_list.html" %}
{% endblock %}
