{% extends "babybuddy/page.html" %}
{% load datetime duration i18n widget_tweaks %}
{% block title %}
    {% trans "Reflux Episodes" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Reflux Episodes" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Reflux Episodes" %}
        {% if perms.core.add_reflux %}
            <a href="{% url 'core:reflux-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-sad" aria-hidden="true"></i> {% trans "Add Reflux" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/reflux_list.html" %}
{% endblock %}
