{% extends "babybuddy/page.html" %}
{% load bootstrap datetime duration misc i18n widget_tweaks %}
{% block title %}
    {% trans "Sleep" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Sleep" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Sleep" %}
        {% if perms.core.add_sleep %}
            <a href="{% url 'core:sleep-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-sleep" aria-hidden="true"></i> {% trans "Add Sleep" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/sleep_list.html" %}
{% endblock %}
