{% extends "babybuddy/page.html" %}
{% load datetime i18n widget_tweaks %}
{% block title %}
    {% trans "Temperature" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Temperature" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Temperature" %}
        {% if perms.core.add_temperature %}
            <a href="{% url 'core:temperature-add' %}"
               class="btn btn-sm btn-primary">
                <i class="icon-temperature" aria-hidden="true"></i> {% trans "Add Temperature Reading" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/temperature_list.html" %}
{% endblock %}
