{% extends "babybuddy/page.html" %}
{% load bootstrap datetime duration i18n widget_tweaks %}
{% block title %}
    {% trans "Timers" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Timers" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Timers" %}
        {% if perms.core.add_timer %}
            <a href="{% url 'core:timer-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-timer" aria-hidden="true"></i> {% trans "Start Timer" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/timer_list.html" %}
{% endblock %}
