{% extends "babybuddy/page.html" %}
{% load babybuddy duration i18n timers %}
{% get_child_count as CHILD_COUNT %}
{% block title %}{{ object }}{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:timer-list' %}">{% trans "Timers" %}</a>
    </li>
    <li class="breadcrumb-item fw-bold">{{ object }}</li>
{% endblock %}
{% block content %}
    <h1>{% trans "Timer" %}</h1>
    <div class="timer-detail">
        <div class="container-fluid py-1">
            <h2 id="timer-status"
                class="display-1{% if object.is_paused %} text-body-secondary{% endif %}">
                <span class="timer-hours">{{ object.duration|hours }}</span>h
                <span class="timer-minutes">{{ object.duration|minutes }}</span>m
                <span class="timer-seconds">{{ object.duration|seconds }}</span>s
            </h2>
            {% if object.is_paused %}
                <p>
                    <span class="badge bg-warning text-dark">{% trans "Paused" %}</span>
                </p>
            {% endif %}
            {% if timer.child and CHILD_COUNT > 1 %}<h2 class="text-body-secondary">{{ timer.child }}</h2>{% endif %}
            <p class="lead text-secondary">{% trans "Started" %} {{ object.start }}</p>
            <div id="timer-stopped" class="alert alert-warning d-none" role="alert">
                {% trans "This timer has already been stopped." %}
                <a href="{% url 'core:timer-list' %}" class="alert-link">{% trans "View Timers" %}</a>
            </div>
            <div class="form-check form-switch d-inline-block mb-4">
                <input class="form-check-input" type="checkbox" id="timer-keep-screen-on">
                <label class="form-check-label" for="timer-keep-screen-on">{% trans "Keep screen on" %}</label>
            </div>
            <div id="timer-actions" class="timer-entry-actions">
                {% if perms.core.add_feeding %}
                    <a class="btn btn-outline-primary"
                       href="{% instance_add_url 'core:feeding-add' %}"
                       role="button"><i class="icon-feeding" aria-hidden="true"></i>
                        {% trans "Save feeding" %}
                    </a>
                {% endif %}
                {% if perms.core.add_pumping %}
                    <a class="btn btn-outline-primary"
                       href="{% instance_add_url 'core:pumping-add' %}"
                       role="button"><i class="icon-pumping" aria-hidden="true"></i>
                        {% trans "Save pumping" %}
                    </a>
                {% endif %}
                {% if perms.core.add_sleep %}
                    <a class="btn btn-outline-primary"
                       href="{% instance_add_url 'core:sleep-add' %}"
                       role="button"><i class="icon-sleep" aria-hidden="true"></i>
                        {% trans "Save sleep" %}
                    </a>
                {% endif %}
                {% if perms.core.add_tummytime %}
                    <a class="btn btn-outline-primary"
                       href="{% instance_add_url 'core:tummytime-add' %}"
                       role="button"><i class="icon-tummytime" aria-hidden="true"></i>
                        {% trans "Save tummy time" %}
                    </a>
                {% endif %}
            </div>
            <div class="center-block"
                 role="group"
                 aria-label="{% trans "Timer actions" %}">
                {% if perms.core.delete_timer %}
                    <a class="btn btn-lg btn-danger"
                       href="{% url 'core:timer-delete' timer.id %}"
                       aria-label="{% trans "Delete timer" %}"
                       title="{% trans "Delete timer" %}"
                       role="button"><i class="icon-delete" aria-hidden="true"></i></a>
                {% endif %}
                {% if perms.core.change_timer %}
                    <a class="btn btn-lg btn-primary"
                       href="{% url 'core:timer-update' timer.id %}"
                       aria-label="{% trans "Edit timer" %}"
                       title="{% trans "Edit timer" %}"
                       role="button"><i class="icon-update" aria-hidden="true"></i></a>
                    {% if timer.is_paused %}
                        <form action="{% url 'core:timer-resume' timer.id %}"
                              role="form"
                              method="post"
                              class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg btn-success">
                                <i class="icon-timer" aria-hidden="true"></i> {% trans "Resume" %}
                            </button>
                        </form>
                    {% else %}
                        <form action="{% url 'core:timer-pause' timer.id %}"
                              role="form"
                              method="post"
                              class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg btn-warning">
                                <i class="icon-stop" aria-hidden="true"></i> {% trans "Pause" %}
                            </button>
                        </form>
                    {% endif %}
                    <form action="{% url 'core:timer-restart' timer.id %}"
                          role="form"
                          method="post"
                          class="d-inline">
                        {% csrf_token %}
                        <label class="visually-hidden">{% trans "Restart timer" %}</label>
                        <button type="submit"
                                class="btn btn-lg btn-secondary"
                                aria-label="{% trans "Restart timer" %}"
                                title="{% trans "Restart timer" %}">
                            <i class="icon-refresh" aria-hidden="true"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        BabyBuddy.Timer.run({{ timer.id }}, 'timer-status', {{ timer.is_paused|yesno:"true,false" }});
        BabyBuddy.WakeLock.init('timer-keep-screen-on');
    </script>
{% endblock %}
