{% extends "babybuddy/page.html" %}
{% load datetime duration misc i18n widget_tweaks %}
{% block title %}
    {% trans "Tummy Time" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Tummy Time" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Tummy Time" %}
        {% if perms.core.add_tummytime %}
            <a href="{% url 'core:tummytime-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-tummytime" aria-hidden="true"></i> {% trans "Add Tummy Time" %}</a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/tummytime_list.html" %}
{% endblock %}
