{% extends "babybuddy/page.html" %}
{% load i18n widget_tweaks %}
{% block title %}
    {% trans "Weight" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Weight" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Weight" %}
        {% if perms.core.add_weight %}
            <a href="{% url 'core:weight-add' %}" class="btn btn-sm btn-primary">
                <i class="icon-weight" aria-hidden="true"></i> {% trans "Add Weight" %}
            </a>
        {% endif %}
    </h1>
    {% include "babybuddy/filter.html" %}
    {% include "core/record_panels.html" with list_template="core/lists/weight_list.html" %}
{% endblock %}
