{% extends "babybuddy/page.html" %}
{% load breadcrumb cards duration i18n imagekit static %}
{% block title %}
    {% trans "Dashboard" %} - {{ object }}
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
    <h1>{% trans "Dashboard" %} <a class="btn btn-sm btn-outline-secondary"
    href="{% url 'dashboard:dashboard-customize' %}">{% trans "Edit dashboard" %}</a></h1>
    {% include "dashboard/child_content.html" %}
{% endblock %}
{% block javascript %}
    {% if user.settings.dashboard_refresh_rate %}
        <script type="application/javascript">
            BabyBuddy.Dashboard.watch('dashboard-child-{{ object.pk }}', {{ user.settings.dashboard_refresh_rate_milliseconds }});
        </script>
    {% else %}
        <script type="application/javascript">BabyBuddy.Dashboard.watch('dashboard-child-{{ object.pk }}', false);</script>
    {% endif %}
{% endblock %}
