{% extends "babybuddy/page.html" %}
{% load breadcrumb duration i18n %}
{% block title %}
    {% trans "Statistics" %} - {{ object }}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Statistics" %}</li>
{% endblock %}
{% block content %}
    <h1>
        {% trans "Statistics" %}
        <a href="{% url 'dashboard:dashboard-child' object.slug %}"
           class="btn btn-sm btn-secondary">
            <i class="icon-dashboard" aria-hidden="true"></i> {% trans "Dashboard" %}
        </a>
        <a href="{% url 'reports:report-list' object.slug %}"
           class="btn btn-sm btn-secondary">
            <i class="icon-graph" aria-hidden="true"></i> {% trans "Reports" %}
        </a>
    </h1>
    <div class="record-panel">
        <div class="table-responsive">
            <table class="table record-table table-hover align-middle">
                <thead>
                    <tr>
                        <th>{% trans "Statistic" %}</th>
                        <th>{% trans "Value" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in stats %}
                        <tr>
                            <th scope="row">{{ stat.title }}</th>
                            <td>
                                {% if stat.stat != None %}
                                    {% if stat.type == "duration" %}
                                        {{ stat.stat|duration_string:'m' }}
                                    {% elif stat.type == "float" %}
                                        {{ stat.stat|floatformat }}
                                    {% else %}
                                        {{ stat.stat }}
                                    {% endif %}
                                {% else %}
                                    <em>{% trans "Not enough data" %}</em>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th colspan="2">{% trans "No data yet" %}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
