{% extends "cards/base.html" %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:feeding-list" %}">{% trans "Last Feeding" %}</a>
{% endblock %}
{% block title %}
    {% if feeding %}
        <div>
            {% blocktrans trimmed with time_ago=feeding_diff_base|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ feeding.start|time }}
            {% if feeding.end != feeding.start %}- {{ feeding.end|time }}{% endif %}
        </small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if feeding %}
        {{ feeding.get_type_display }}, {{ feeding.get_method_display }}
        {% if feeding.amount %}({{ feeding.amount }}){% endif %}
        {% if feeding.next_breast_display %}
            <div>{% trans "Start next on" %}: <strong>{{ feeding.next_breast_display }}</strong></div>
        {% endif %}
    {% endif %}
{% endblock %}
