{% extends "cards/base.html" %}
{% load duration i18n presentation %}
{% block header %}
    <a href="{% url "core:pumping-list" %}?scope={{ child.slug|urlencode }}">{% trans "Last Pumping" %}</a>
{% endblock %}
{% block title %}
    {% if pumping %}
        <div>
            {% blocktrans trimmed with time_ago=pumping.start|deltasince|duration_string:'m' %}
                {{ time_ago }} ago
            {% endblocktrans %}
        </div>
        <small>{{ pumping.start|time }}</small>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if pumping %}
        {% trans "Amount" %}: {% measurement pumping 'amount' %}
        {% if pumping.side %}({{ pumping.get_side_display }}){% endif %}
    {% endif %}
{% endblock %}
